
@model IEnumerable<alpha.Models.Dish>


<h1>Dishes</h1>
<ul>
    @foreach (var d in Model)
    {
        <li>@d.Name <a asp-controller="dish" asp-route-id="@d.Id">Edit</a><a asp-controller="home" asp-action="DeleteDish" asp-route-id="@d.Id">Remove</a>
        <div>
            @if (d.Items != null && d.Items.Any())
            {
            <ul>
                @foreach (var i in d.Items)
                {
                    <li>@i.Name @i.Type</li>

                }
            </ul>
            }
        </div>
        </li>




    }
</ul>
<a asp-controller="Dish" asp-action="Index" id="lnkAddDish">Add Dish</a>